@model PlaylistEditViewModel

@{
    ViewData["Title"] = "Vytvoriť playlist";
}


<form asp-action="Create">
    <div class="row">
        <div class="col-6">
            <h1>Vytvoriť nový playlist</h1>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-lg float-right" type="submit">
                <img src="~/img/save-32.png" alt="Uložiť" class="img-in-button">
            </button>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Playlist.Name" class="control-label"></label>
                <input asp-for="Playlist.Name" class="form-control"/>
                <span asp-validation-for="Playlist.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Playlist.Description" class="control-label"></label>
                <input asp-for="Playlist.Description" class="form-control"/>
                <span asp-validation-for="Playlist.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-8">
            @{ await Html.RenderPartialAsync("_PlaylistSongsAdding"); }
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Späť do zoznamu</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}