@page
@model EKS_database_web.Pages.Songs.Edit

@{
    ViewData["Title"] = $"Edit {Model.EditedSong.Title}" ;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Model.EditedSong.Title
</div>
</body>
</html>