@{
    ViewData["Title"] = "Home Page";
}

    <div class="row uvod__hlavna__stranka">
        <div class="col-12 col-md-8 col-lg-8 uvod__box">
            <h1 class="uvod__title">Vitajte</h1>
            <h3 class="uvod__text">Toto je webová aplikácia projektu EKS.</h3>
            <div class="uvod-tlacidla">
                <a asp-area="Identity" asp-page="/Account/Login"><button type="button" class="btn btn-sekcia-uvod left-btn">Prihlásiť sa</button></a>
                <a asp-controller="Songs" asp-action="Index"><button type="button" class="btn btn-outline-sekcia-uvod right-btn">Zobraziť piesne</button></a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>