@model Web.Models.SongCategoryViewModel

<hr/>
<div class="form-group">
    <div class="form-inline">
        <label asp-for="Song.SongCategories" class="control-label"></label>
        <button class="btn btn-success btn-sm float-right js-btn-add-category" type="button" data-toggle="modal" data-target="#addCategoryModal">
            <img src="~/img/plus-16.png" alt="Prida큐 kateg처riu" class="img-in-button">
        </button>
    </div>
    
    <div class="col-sm-11">
        <h6>
            @foreach (var songCategory in Model.Song.SongCategories)
            {
                <span class="badge badge-primary js-category-badge">
                    @songCategory.Category.Name
                    <img src="~/img/x-mark-8.png" class="js-category-remove" alt="Vymaza큐 strofu"> 
                    @* <button class="badge-button" type="button"> *@
                    @*     <img src="~/img/x-mark-8.png" alt="Vymaza큐 strofu"> *@
                    @* </button> *@
                </span>
            }
        </h6>
    </div>
    
</div>
<hr/>


<!-- Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>

    $(document).ready(function () {  
        $(document).on('click', '.js-category-remove', function () {
            $(this).parent('.js-category-badge').remove();            
        });
    });
</script>