@model Database.Models.Songs.Song

<h4>Strofy</h4>
<input type="hidden" id="versesCount" value="@Model.Verses.Count" />
<hr/>
<div id="versesContainer">
    @{
        for (int i = 0; i < Model.Verses.Count; i++)
        {    
            <div class="js-verse">
                <input type="hidden" asp-for="Verses[i].Id" class="js-verse-id"/>
                <input type="hidden" asp-for="Verses[i].SongId" class="js-verse-song-id"/>
                <input type="hidden" asp-for="Verses[i].SequenceNumber" class="js-verse-sequence-num"/>

                <button class="btn btn-danger btn-sm js-btn-remove-verse">
                    <img src="~/img/trash-2-16.png" alt="Odstr치ni콘 strofu" class="img-in-button" type="button">
                </button>
                <div class="form-group row">
                    <label asp-for="Verses[i].Title" class="col-sm-2 col-form-label js-verse-title-lbl"></label>
                    <input asp-for="Verses[i].Title" class="col-sm-5 js-verse-title"/>
                    <span asp-validation-for="Verses[i].Title" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Verses[i].Text" class="col-sm-2 col-form-label js-verse-text-lbl"></label>
                    <textarea asp-for="Verses[i].Text" class="col-sm-10 js-verse-text" rows="5"></textarea>
                    <span asp-validation-for="Verses[i].Text" class="text-danger"></span>  
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <hr/>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success btn-sm float-right js-btn-add-verse" type="button">
                            <img src="~/img/plus-16.png" alt="Prida콘 strofu" class="img-in-button">
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $("#AddButton").click(function () {
            // let clone = $(".js-verse:first").clone();
            // clone.find("input").val("");
            
            // $("#versesContainer").append(clone);
            $("#versesContainer").append(
                  ' <div class="js-verse">'
                + '     <div class="form-group row">'
                + '         <label for="Verses_0__Title" class="col-sm-2 col-form-label js-verse-title-lbl">N치zov</label>'
                + '         <input id="Verses_0__Title" name="Verses[0].Title" class="col-sm-5 js-verse-title" type="text"/>'      
                + '     </div>'
                + '     <div class="form-group row">'
                + '         <label for="Verses_0__Text" class="col-sm-2 col-form-label js-verse-text-lbl">Text</label>'
                + '         <textarea id="Verses_0__Text" name="Verses[0].Text" class="col-sm-10 js-verse-text" rows="5"></textarea>'
                + '     </div>' 
                + '     <hr/>'
                + ' </div>');
                
            recalculateVerses();
        });
        
        $(".js-btn-add-verse").click(function() {
            let clone = $(".js-verse:first").clone();
            clone.find("input").val("");
            clone.find("textarea").val("");
            clone.find(".js-verse-song-id").val($("#song-id").val());
            clone.find(".js-verse-id").remove();
          
            clone.insertAfter($(this).parents("div.js-verse"));
            
            recalculateVerses();
        });

        $(".js-btn-remove-verse").click(function () {
            // tc = parseInt($("#versesCount").val());
            // tc = tc - 1;
            // $("#versesCount").val(tc)

            $(this).parents("div.js-verse").remove();           // remove verse which remove button has been pressed
            
            recalculateVerses();
        });
        
        function recalculateVerses() {
            $(".js-verse").each(function(i) {
                $(this).find(".js-verse-id")
                    .attr('id', 'Verses_' + i + '__Id')
                    .attr('name', 'Verses[' + i + '].Id');
                  
                $(this).find(".js-verse-song-id")
                    .attr('id', 'Verses_' + i + '__SongId')
                    .attr('name', 'Verses[' + i + '].SongId');
                
                $(this).find(".js-verse-sequence-num")
                    .attr('id', 'Verses_' + i + '__SequenceNumber')
                    .attr('name', 'Verses[' + i + '].SequenceNumber')
                    .attr('value', i);
                
                $(this).find(".js-verse-sequence-num")
                    .attr('for', 'Verses_' + i + '__Title');
                
                $(this).find(".js-verse-title")
                    .attr('id', 'Verses_' + i + '__Title')
                    .attr('name', 'Verses[' + i + '].Title');
                
                $(this).find(".js-verse-text-lbl")
                    .attr('for', 'Verses_' + i + '__Text');
                
                $(this).find(".js-verse-text")
                    .attr('name', 'Verses[' + i + '].Text')
                    .attr('id', 'Verses_' + i + '__Text');
            });
            
          // $(".js-verse-id").each(function(i){
          //     $(this).attr('id', 'Verses_' + i + '__Id');
          //     $(this).attr('name', 'Verses[' + i + '].Id');
          // });
          
          // $(".js-verse-song-id").each(function(i){
          //     $(this).attr('id', 'Verses_' + i + '__SongId');
          //     $(this).attr('name', 'Verses[' + i + '].SongId');
          // });
          
          // $(".js-verse-sequence-num").each(function(i){
          //     $(this).attr('id', 'Verses_' + i + '__SequenceNumber');
          //     $(this).attr('name', 'Verses[' + i + '].SequenceNumber');
          //     $(this).attr('value', i);
          // });
          
          // $(".js-verse-title-lbl").each(function(i){
          //     $(this).attr('for', 'Verses_' + i + '__Title');
          // });
          
          // $(".js-verse-title").each(function(i){
          //     $(this).attr('id', 'Verses_' + i + '__Title');
          //     $(this).attr('name', 'Verses[' + i + '].Title');
          // });
          
          // $(".js-verse-text-lbl").each(function(i){
          //     $(this).attr('for', 'Verses_' + i + '__Text');
          // });
          //
          // $(".js-verse-text").each(function(i){
          //     $(this).attr('name', 'Verses[' + i + '].Text');
          //     $(this).attr('id', 'Verses_' + i + '__Text');
          // });
          
          
        }
    });
</script>


                      

        
