@model Web.Models.SongCategoryViewModel

<h5>Strofy</h5>
<input type="hidden" id="versesCount" value="@Model.Song.Verses.Count" />
<div class="row">
    <div class="col-sm-11">
        <hr/>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-success btn-sm float-right" type="button" id="add-verse-start">
            <img src="~/img/plus-2-16.png" alt="Prida콘 strofu" class="img-in-button">
        </button>
    </div>
</div>
<div id="versesContainer">
    @{
        for (int i = 0; i < Model.Song.Verses.Count; i++)
        {    
            <div class="js-verse">
                <input type="hidden" asp-for="Song.Verses[i].Id" class="js-verse-id"/>
                <input type="hidden" asp-for="Song.Verses[i].SongId" class="js-verse-song-id"/>
                <input type="hidden" asp-for="Song.Verses[i].SequenceNumber" class="js-verse-sequence-num"/>

                <button class="btn btn-danger btn-sm js-btn-remove-verse" type="button">
                    <img src="~/img/trash-2-16.png" alt="Odstr치ni콘 strofu" class="img-in-button">
                </button>
                <div class="form-group row">
                    <label asp-for="Song.Verses[i].Title" class="col-sm-2 col-form-label js-verse-title-lbl"></label>
                    <div class="col-sm-10" >
                        <input asp-for="Song.Verses[i].Title" class="col-sm-6 form-control js-verse-title"/>
                        <span asp-validation-for="Song.Verses[i].Title" class="text-danger js-verse-title-validation"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Song.Verses[i].Text" class="col-sm-2 col-form-label js-verse-text-lbl"></label>
                    <div class="col-sm-10" >
                        <textarea asp-for="Song.Verses[i].Text" class="col-sm-12 js-verse-text" rows="5"></textarea>
                        <span asp-validation-for="Song.Verses[i].Text" class="text-danger col-sm-12 js-verse-text-validation"></span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <hr/>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success btn-sm float-right js-btn-add-verse" type="button">
                            <img src="~/img/plus-2-16.png" alt="Prida콘 strofu" class="img-in-button">
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    

    $(document).ready(function () {        
        $(document).on('click', '.js-btn-add-verse', function() {
            let clone = getVerseClone();
          
            clone.insertAfter($(this).parents("div.js-verse"));
            
            recalculateVerses();
        });
        
        $("#add-verse-start").click(function(){
            let clone = getVerseClone();
            
            $("#versesContainer").prepend(clone);
            
            recalculateVerses();
        });

        $(document).on('click', '.js-btn-remove-verse', function () {
            let verseCount = $(".js-verse").length;
            
            if (verseCount > 1){
                $(this).parents("div.js-verse").remove();           // remove verse which remove button has been pressed
                            
                recalculateVerses();
            }
        });
        
        function getVerseClone(){
            let clone = $(".js-verse:first").clone();
            clone.find("input").val("");
            clone.find("textarea").val("");
            clone.find(".js-verse-song-id").val($("#song-id").val());
            clone.find(".js-verse-id").remove();
            
            return clone;            
        }
        
        function recalculateVerses() {
            $(".js-verse").each(function(i) {
                $(this).find(".js-verse-id")
                    .attr('id', 'Song_Verses_' + i + '__Id')
                    .attr('name', 'Song.Verses[' + i + '].Id');
                  
                $(this).find(".js-verse-song-id")
                    .attr('id', 'Song_Verses_' + i + '__SongId')
                    .attr('name', 'Song.Verses[' + i + '].SongId');
                
                $(this).find(".js-verse-sequence-num")
                    .attr('id', 'Song_Verses_' + i + '__SequenceNumber')
                    .attr('name', 'Song.Verses[' + i + '].SequenceNumber')
                    .attr('value', i);
                
                $(this).find(".js-verse-title-lbl")
                    .attr('for', 'Song_Verses_' + i + '__Title');
                
                $(this).find(".js-verse-title")
                    .attr('id', 'Song_Verses_' + i + '__Title')
                    .attr('name', 'Song.Verses[' + i + '].Title');
                
                $(this).find(".js-verse-title-validation")
                    .attr('valmsg-for', 'Song.Verses[' + i + '].Title')
                    .attr('data-valmsg-for', 'Song.Verses[' + i + '].Title');
                
                $(this).find(".js-verse-text-lbl")
                    .attr('for', 'Song_Verses_' + i + '__Text');
                
                $(this).find(".js-verse-text")
                    .attr('id', 'Song_Verses_' + i + '__Text')
                    .attr('name', 'Song.Verses[' + i + '].Text');
                
                $(this).find(".js-verse-text-validation")
                    .attr('valmsg-for', 'Song.Verses[' + i + '].Text')
                    .attr('data-valmsg-for', 'Song.Verses[' + i + '].Text');
            });
        }
    });
</script>


                      

        
